

.drop-shadow-neon {
  text-shadow: 0 0 6px var(--color-rosa-principal), 0 0 2px #fff2, 0 0 1px #fff2;
}

.border-neon {
  box-shadow: 0 0 0 2px var(--color-rosa-principal), 0 0 12px 0 var(--color-rosa-principal) inset;
  border-color: var(--color-rosa-principal) !important;
}

.group:hover .drop-shadow-neon {
  filter: brightness(1.2) drop-shadow(0 0 8px var(--color-rosa-principal));
}

@media (max-width: 640px) {
  .grid {
    gap: 1.25rem !important;
  }
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--color-rosa-principal), 0 0 8px 2px var(--color-rosa-principal);
}

.bg-cover {
  image-rendering: pixelated;
}
