<div class="min-h-screen flex items-center justify-center bg-gray-900 text-white">
    <div class="bg-gray-800 p-8 rounded-xl shadow-md w-full max-w-md">
      <h1 class="text-3xl text-center text-pink-500 mb-6 font-bold">Login</h1>
  
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
        <input
          formControlName="login"
          type="text"
          placeholder="Email o usuario"
          class="w-full p-3 bg-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-pink-500"
        />
  
        <input
          formControlName="password"
          type="password"
          placeholder="Contraseña"
          class="w-full p-3 bg-gray-700 rounded focus:outline-none focus:ring-2 focus:ring-pink-500"
        />
  
        <button
          type="submit"
          class="w-full bg-pink-500 text-white py-3 rounded hover:bg-pink-600 transition"
        >
          Iniciar sesión
        </button>
      </form>
    </div>
  </div>
  